@charset "utf-8";
@import url(../lib/layui/css/layui.css);
*{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
html{
    overflow-x:hidden;
    overflow-y:auto;
}
body{
    width: 100%;
    min-height: 100%;
    background: #fff;
}
.x-red{
    color: red;
}

.layui-form-switch{
    margin-top: 0px;
}
.layui-input:focus, .layui-textarea:focus {
    border-color: #408EFF!important;
}

.layui-fluid{
    padding:15px;
}
